i {
  pointer-events: none;
}


.pageloaded {
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f6f9;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.main-authen,
.main-error {
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f6f9;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
